<nav class="dt w-100 border-box pa3 ph5-ns bg-white">
     <%= link_to root_path, class:"dtc v-mid mid-gray link dim w-50 pl7 f2" do %>
     <%= icon('fas', 'camera-retro', class:"f2 grad1",) %>
     |<span class="f2 grad1"> Fins</span><span class="grad2">tagram</span>
  <% end %>
  <div class="dtc v-mid w-75 tr pr7">
    <%= link_to 'New Post',  new_post_path,class:"link dim blue f6 f5-ns dib mr3 mr4-ns" %>
    <a class="link dim blue f6 f5-ns dib mr3 mr4-ns" href="#" title="Store">Blog</a>
    <a class="link dim blue f6 f5-ns dib" href="#" title="Contact">Join Us</a>
    
  </div>
</nav>